[Unit]
Description=Fan speed management

[Service]
Type=simple
ExecStart=/home/akbkuku/git/temp-control/temp-control.py

[Install]
WantedBy=default.target
