[Unit]
Description=Fan speed management

[Service]
Type=simple
ExecStart=/home/akbkuku/git/server-fan-control/temp-control.py

Restart=on-failure
RestartSec=15s

[Install]
WantedBy=default.target
